.rating-container {

    label {

        input[type="radio"] {
            display: none;
        }

        .star {
            cursor: pointer;
            transition: color 200ms;
        }
    }
}