.nav-item {
    display : flex;
    align-items: center;
    font-size: 1.5rem;
}

.nav-pills .nav-link.active {
    color: #fff;
    background-color: #EB507F;
}

a {
    color:rgb(105, 104, 104);
    font-weight: 700;
}
