.pagin-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .pagin-item {
        margin: 10vh 0;
        li {

            span.page-link{
                color: #fff;
                background-color: #dc3545;
                border-color: #dc3545;
            }

            a.page-link {
                color: #fff;
                background-color: #444;
            }
        }
    }    
}