.navbar-title {
    display: flex;
    align-items: center;
    /* margin-left: 100px ; */
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2.modal-title {
    font-weight: 1000;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

img.logo {
    height: 10vh;
}

input.modal-input.form-control {
    width: 29rem;
    background-color: #ffe3ec;
}

.modal-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button.modal-btn {
    width: 29rem;
    background-color: #fe024e;

}

.modal-login {
    display: flex;
}

.background {
    background-color: transparent;
}
