.category-container {
    display: flex;
    flex-direction: column;
    /*  justify-content: center; */
    margin: 0 20vh;   
}


.title-category {
    margin: 8vh 0 8vh 0;
    color: rgb(105, 104, 104);
    font-weight: 700;
}

/* .item-category {
    display : flex;
    align-items: center;
} */

.item-btn {
    margin-right: 2vh;
    font-weight: 700;
    /* font-size: 4vh; */
    color: white;
}

.btn-dark:hover {
    background-color: #dc3545;
    border-color: #dc3545;
}

/* .nav-pills .nav-link.active {
    color: #fff;
    background-color: #EB507F;
}

a {
    color:rgb(105, 104, 104);
    font-weight: 700;
} */

.home-col {
    padding: 5vh 1vh 0 1vh;
    
}

img.img-movie {
    height: 40vh;  
}

p {
    margin: 0vh;
}

p.title {
    font-weight: 1000;
    margin-top: 1vh;
}





