.second-col {
    padding-top: 15px;
}

.first-col {
    padding-left: 10px;
    padding-top: 10px;
}

.review-col {
    padding-top: 15px;
}

/* .cast-card {
    display: inline-flex;
} */

.overview-movie-tab {
    color: #FE024E;
}

.cast-card {
    margin-top: 5px;
    margin-right: 6px;
    margin-left: 6px;
    color: #fff;
}

.review-content {
    padding-left: 10px;
}

.spasi{
    padding-left: 5px;
    padding-right: 5px;
}

.my-bg-maroon {
    background-color: #FE024E;
}