.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #D4D4D4;    
}

.footer-item {
    margin: 5vh 10vh;
}

.brand-logo {
    display: flex;
    align-items: center;
}

img.logo-footer {
    height: 15vh;
}

.col-about {
    padding: 0 5vh;
}

.col-icon {
    padding-right: 0vh;
}

h6 {
    font-weight: 700;
}

img.icon {
    height: 7vh;
    margin-right: 2vh;
}


.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}